Source: odn-solr
Maintainer: Someone FIXME <dev@opendata.sk>
Standards-Version: 3.9.3
Build-Depends: ant, debhelper (>= 9), openjdk-7-jdk
Homepage: http://opendata.sk
Vcs-Git: https://vcs.eea.sk/scm/odsk/lucene-solr.git
Version: 4.10.2

Package: odn-solr
Architecture: all
Priority: extra
Section: web
Depends: openjdk-7-jre-headless, tomcat7-user
Description: Open Data Node - SOLR engine
